@theme {
  /* Main */
  --color-blue-10: #ebf3ff;
  --color-blue-20: #bfd8ff;
  --color-blue-30: #92bdff;
  --color-blue-40: #66a2ff;
  --color-blue-50: #3987ff;
  --color-blue-60: #2773e9;
  --color-blue-70: #165bc7;
  --color-blue-80: #0846a5;
  --color-blue-90: #003383;
  --color-blue-100: #002661;

  /* Etc */
  --color-error: #f83737;
  --color-success: #57bf27;
  --color-background: #fafafa;

  /* Grayscale */
  --color-gray-10: #e6e7e9;
  --color-gray-20: #cdcfd2;
  --color-gray-30: #b4b7bc;
  --color-gray-40: #9b9fa6;
  --color-gray-50: #81878f;
  --color-gray-60: #686f79;
  --color-gray-70: #4f5763;
  --color-gray-80: #363f4d;
  --color-gray-90: #1d2736;
  --color-gray-100: #040f20;

  /* Z-Index */
  --z-header: 6;
  --z-bottom-nav: 8;
  --z-modal: 7;
}

@layer utilities {
  /* Shadow */
  .shadow-1 {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  }

  .shadow-2 {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.12);
  }

  /* Typography */
  .h1 {
    font-weight: 500;
    font-size: 3.6rem;
    line-height: 160%;
    letter-spacing: 0rem;
  }
  .h2 {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 160%;
    letter-spacing: 0rem;
  }
  .h3 {
    font-weight: 500;
    font-size: 2rem;
    line-height: 160%;
    letter-spacing: 0rem;
  }
  .b1 {
    font-weight: 400;
    font-size: 2rem;
    line-height: 160%;
    letter-spacing: 0rem;
  }
  .b2 {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 160%;
    letter-spacing: 0rem;
  }
  .b3 {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 160%;
    letter-spacing: 0rem;
  }
  .b4 {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 160%;
    letter-spacing: 0rem;
  }
  .scrollbar-hide {
    &::-webkit-scrollbar {
      display: none;
    }
    scrollbar-width: none;
  }
}
