@theme {
  /* Main */
  --color-main-900: #ff6f6f;

  /* Etc */
  --color-overlay: rgba(0, 0, 0, 0.2);

  /* Grayscale */
  --color-gray-90: #262627;

  /* Z-Index */
  --z-header: 6;
  --z-bottom-nav: 8;
  --z-modal: 7;
}

@layer utilities {
  /* Shadow */
  .shadow-1 {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  }

  .shadow-2 {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.12);
  }

  /* Typography */
  .title {
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 3.6rem;
    letter-spacing: -0.1rem;
  }

  .scrollbar-hide {
    &::-webkit-scrollbar {
      display: none;
    }
    scrollbar-width: none;
  }
}
